.form {
    display: flex;
    flex-direction: column;

    .row {
        padding: .25rem;

        .label {
            color: darkslategray;
            width: 6rem;
            display: inline-flex;

            cursor: pointer;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;

            &:after {
                content: '';
                margin-left: 10px;
                width: 6px;
                height: 15px;
                display: none;
            }
        }

        input {
            overflow: visible;

            &.control {
                &[type=number] {
                    text-align: right;
                }
            }
        }
    }
}