a {
    &.button {
        border: 2px solid;
        padding: 4px;
        border-radius: 10px;
        text-decoration: none;

        &-grey {
            border-color: grey;
            background: silver;
        }
    }
}